html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    font-size: $font-size;
    font-weight: $font-weight;
    background-color: $colorBody;
    color: $colorText;
    line-height: 1.2;
    margin: 0;
    background: radial-gradient(rgb(224, 224, 224) 10%, rgba(0, 0, 0, 0) 11%), radial-gradient(rgb(123, 173, 201) 10%, rgba(0, 0, 0, 0) 11%), rgba(139, 139, 139, 0.616);
        background-position: 0 0, 10px 10px;
        background-origin: padding-box;
        background-clip: border-box;
        background-size: 20px 20px;
}

header {
    text-align: center;
    padding: 5px;
    background-color: $primaryColorBlue;
}