* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-repeat: no-repeat;
  margin: 0;
}


header {
  text-align: center;
  padding: 5px;
  background-color: #1d70be;
}

label {
  position: relative;
  display: inline-flex;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  border: none;
  padding-top: 4px;
  background-color: #7574741e;
  cursor: pointer;
}

button > svg {
  fill: #757474;
}

input {
  height: 100%;
  padding: 0;
  font-size: 1em;
  outline: 1px solid tomato;
  outline: none;
}

.gallery-box {
  padding-top: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.photo-card > img {
  width: 100%;
  height: 174px;
  object-fit: cover;
}